 .main-header {
	background-color: red;
	opacity: 0.5;
}

.main-navigation {
	background-color: orange;
	opacity: 0.5;
}

.logo {
	background-color: yellow;
	opacity: 0.5;
}

.site-navigation {
	background-color: green;
	opacity: 0.5;
}

.user-navigation {
	background-color: blue;
	opacity: 0.5;
}

.time-tel {
	background-color: violet;
	opacity: 0.5;
}

.work-time {
	background-color: blue;
	opacity: 0.5;
}

.telephone {
	background-color: green;
	opacity: 0.5;
}

.main-navigation-wrapper {
	background-color: red;
	opacity: 0.5;
}*/

.slider-image {
	background-color: violet;
	opacity: 0.5;
}

.container {
	background-color: red;
	opacity: 0.5;*/
}

.banner {
	background-color: red;
	opacity: 0.5;
}

.banner-actions {
	background-color: brown;
	opacity: ;
}

.banner-actions-item {
	background-color: green;
	opacity: 0.5;
}

.catalog-products {
	background-color: yellow;
	opacity: 0.5;
}

.catalog-item {
	background-color: green;
	opacity: 0.5;
}

.features-list {
	background-color: blue;
	opacity: 0.5;
}

.feature-item {
	background-color: black;
	opacity: 0.5;
}

.features-block {
	background-color: red;
	opacity: 0.5;
}

.substance {
	background-color: orange;
	opacity: 0.5;
}

.blog-subscribe-item {
	background-color: violet;
	opacity: 0.5;
}

.blog-item,
.subscribe-item {
	background-color: yellow;
	opacity: 0.5;
}

.map {
	background-color: blue;
	opacity: 0.5;
}

.map-wrapper {
	background-color: green;
	opacity: 0.5;
}

.contact-information-wrapper {
	background-color: red;
	opacity: 0.5;	
}

.main-footer {
	background-color: orange;
	opacity: 0.5;
}

.footer-social,
.footer-documents,
.footer-copyright {
	background-color: blue;
	opacity: 0.5;
}

.base {
	background-color: blue;
	opacity: 0.5;
}

.hit {
    background-color: red;
	opacity: 0.5;
}
