body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;

  background-color: #849d8f;    
}

.inner-page {
  background-image: none;
} 

a {
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.inner-page header {
  max-height: 117px;
}

.inner-page footer {
  border-top: 1px solid #a9bbb1;
}

.main-footer {
  padding-top: 30px;
}

.main {
  min-width: 1200px;
  margin: 0 auto; 
}

.logo {
  width: 167px;
  padding-left: 23px;
  margin-right: 5px;
  padding-top: 7px;   
}

.main-navigation {
  width: 1200px;
  min-height: 300px;
  margin: 0 auto;
}

.main-navigation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

  width: 1200px;
  margin: 0 auto; 
}

.main-navigation-wrapper {
    width: 100%;   
}

.site-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  min-width: 560px;
}

.site-logo-wrapper a {
  border-bottom: none;
}

.site-navigation,
.user-navigation {
  list-style: none;

  margin: 0;
  padding: 0; 
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;

    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    min-width: 410px;    
    padding: 0;          
    margin: 0;    

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.site-navigation li {
  padding: 10px;
  margin: 0; 
}

.site-navigation li:nth-child(3) {
  margin-right: 33px;
}

.user-navigation {
  width: 263px;
  height: 33px; 
    padding: 0; 
    padding-top: 22px;    
    margin-right: 27px;   

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    font-size: 14px;
  line-height: 16px;
  font-weight: 500;
    
    text-align: right;   
}

.site-navigation a{
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

.site-navigation li a:hover,
.site-navigation li a:active {
  color: #323232;

  border-bottom: none
}

.site-navigation li:hover,
.site-navigation li:active {
    background-color: #f7f6f3;

    border-radius: 30px;

    color: #323232;
}

.site-navigation li:hover a {
  color: #323232;
}

.site-navigation li:active {
  -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
          box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
}

.search {
  max-width: 33px;

  position: relative;
}

.search ul {
  list-style: none;
}

.search-loupe { 
  width: 33px;
  height: 33px;

  background-image: url(../img/loupe.svg);
  background-repeat: no-repeat;
  background-position: center;    
}

.user-navigation .search-loupe:hover {
    background-image: url(../img/loupe-black.png);
    background-repeat: no-repeat;
    background-position: center;
}

.search-dropdown li:hover.search-loupe {
  background-image: url(../img/loupe-black.png);
    background-repeat: no-repeat;
    background-position: center;
}

.login {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 16px;
  padding-left: 44px; 
}

.login,
.cart {
  padding-top: 10px;    
  position: relative;     
}

.cart.empty-cart {
  margin: 0;
  padding-right: 35px;
  padding-left: 46px;
}

.cart.full-cart {
  margin: 0;
  padding-right: 19px;

  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
  background-position: 20% center;
  background-color: #f7f6f3;
}

.cart.full-cart a {
  color: #323232;
}

.login::before,
.cart::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 17px;

  width: 20px;
  height: 20px;
}

.full-cart .full-cart-link {
  color: #fff;
}

.login-icon {
  position: absolute;
  top: 7px;
  left: 17px;

  width: 20px;
  height: 20px; 
}

.cart-icon {
  position: absolute;
  top: 7px;
  left: 17px;

  width: 20px;
  height: 20px; 
}

.empty-cart {
  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 20% center;  
}

.cart:hover {
  background-image: url(../img/basket-red.svg);
  background-repeat: no-repeat;
  background-position: 20% center;
}

.login::before {
  background-image: url(../img/entrance-white.svg);
  background-repeat: no-repeat;
  background-position: center;  
}

.login:hover {
  background-image: url(../img/entrance.svg);
  background-repeat: no-repeat;
  background-position: 20% center;
}

.login:hover a,
.cart:hover a {
  color: #323232;
}

.login:hover.login::before {
  display: none;
}

.cart:hover.cart::before {
  display: none;
}

.cart {
  width: 118px;
  margin-left: 7px;
}

.time-tel {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.time-tel p {
  padding-right: 25px;
  margin: 0;
  margin-top: -5px;

  text-align: right;
}

.current-page a,
.current-page a:hover,
.current-page a:active {
  background-color: #d07058;
  border-bottom: none;
  color: #ffffff;
}

.user-navigation a {
  color: #ffffff;

  border-bottom: none;
}

.user-navigation li {
   border-radius: 30px;
}

.full-cart a{
  color: #323232;
}

.user-navigation li a:hover {
  color: #323232;
}

.user-navigation li:hover {
    background-color: #f8f7f4;
}

.user-navigation li { 
  background-color: #b0c0b7;    
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;   

  color: #ffffff;
}

.telephone {
  font-size: 22px;
  line-height: 0px;
  font-weight: 700;
  
  color: #ffffff;
}

.site-wrapper {
  max-width: 1349px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;

  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;

  -o-transition: background-image 0.5s ease, background-color 0.5s ease;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

.slider {
  
  width: 1146px;
  margin: 0 auto;
  position: relative;
  
  padding-top: 95px;
  margin-bottom: 40px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

input .visually-hidden {
  background-color: #b2c1b7;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png") 
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.base {
  width: 1200px;
  margin: 0 auto; 
}

.banner {
  margin-bottom: 40px;
}

.banner-actions {
  list-style: none;

  color: #ffffff;

  width: 1146px;
  margin: 0 auto; 
    padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
    height: 230px;
}

.banner-actions-item {
  min-width: 560px;
  overflow: hidden;

  border-radius: 20px;  
}

.banner-actions-item div {
  display:inline-block; 
  vertical-align: middle;  
    position:relative;
}

.banner-actions-item div p {  
    display:inline-block;
    vertical-align: middle;
    position:absolute;
    top:52px;   
    left:20px;

    font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.banner-actions-item div h4 {
  display:inline-block;
  vertical-align: middle;
    position:absolute;
    top:-32px;   
    left:20px;

    font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banner-actions-item img {
  margin: -90px -113.5px -90px -113.5px;
}

.banner-actions div a {
  color: #fff;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-image: -webkit-linear-gradient( 315deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);

  background-image: -o-linear-gradient( 315deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);

  background-image: linear-gradient( 135deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.64);
            box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.64);

    border: none;

    display: inline-block;
    vertical-align: middle;
    position:absolute;
    top: 160px;   
    right: 20px;
  }

  .banner-actions .button {
    max-width: 164px;

    padding: 10px 24px;
  }

  .banner-actions .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
    background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
    background-blend-mode: lighten;
  }

 .banner-actions .button:active {
    background-color: rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
            box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    background-blend-mode: lighten;
 }

 .hit {
  width: 1146px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 12px;   
  padding: 0;      
 }

 .catalog-products {
  list-style: none;

  color: #ffffff;

  margin: 0;  
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
 }

 .catalog-item {    
  position: relative;  
 }

 .catalog-item::before {
  content: "";       
  
   width: 293px;
   height: 405px;  
   
   background-image: url("../img/Shape 132.png"); 

   display: none;  
 }

 .catalog-item:hover.catalog-item::before { 
   display: block;

   position: absolute;
   top: -5px;
   left: -13px;
 }  

 .catalog-item:hover .button-catalog-item {
  display: block;
  position: absolute;
  top: 333px;
  left: 36px;
 }


.catalog-item-wrapper {
  position: relative;
  max-width: 267px;
}

 .button-catalog-item {
  padding: 10px 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  z-index: 1; 

  display: none;
 }

  .button-catalog-item:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
            box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
 }

 .button-catalog-item:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

 .catalog-item-wrapper img {      
    border-radius: 150px;     
 }

 .catalog-price::before {
   content: "";
   position: absolute;
   top: -210px;    
  
   width: 61px;
   height: 61px;  
   
   background-image: url("../img/hit.svg");
   background-repeat: no-repeat;
   background-position: 0 0;   
 }

 .inner-page .catalog-price::before {
  display: none;
 }

.catalog-name.vanilla {
  padding-left: 40px;
}

 .catalog-item div {
  display:inline-block;
  vertical-align: middle;   
  position:relative;
}

 .catalog-item .catalog-price {
  display: inline-block;
  vertical-align: middle; 
  position:absolute;
  top: 165px;   
  left: 0px;
 }

 .catalog-item .catalog-name {
  display: inline-block;
  vertical-align: middle; 
    position:relative;
    top: -10px;    

    max-width: 267px;
    margin-top: 16px;        
}

 .catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
 }

 span.rub {
  letter-spacing: 3px;
 }

 span.rub-size {
  font-size: 43px;
 }

 .catalog-price-kg {
  font-size: 30px;
 }

 .catalog-name  {
  text-align: center; 

  position: relative;

  height: auto;  
 }

 .catalog-name a  {
  color: #fff;

  font-weight: 500;  
 }

 .catalog-name a:hover,
 .catalog-name a:active  {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.features {
  margin-bottom: 43px;
}

  .features-block {
    background-color: #eedfc4;
    background-image: url(../img/wafer.jpg);
    background-repeat: repeat;
    background-position: 0 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;

    padding-left: 0;
    padding-top: 25px;
    margin: 0 auto;

    width: 1146px;

    border-radius: 20px;
}

.features-list {
  width: 1067px;

  list-style: none;

  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-left: 76px; 
  padding-right: 27px;

  display: -webkit-box; 

  display: -ms-flexbox; 

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-item {
  position: relative;
  width: 500px;
  padding-bottom: 22px; 
}

.feature-item::before {
  content: "";
    position: absolute;
    top: -13px;
    left: -55px;    
  
    width: 49px;
    height: 49px; 

    background-repeat: no-repeat;
    background-position: 0 0; 
} 

.feature-item:first-child::before {
  background-image: url("../img/ice-cream.svg");     
}

.feature-item:nth-child(2)::before {
  background-image: url("../img/cow.svg");     
}

.feature-item:nth-child(3)::before {
  background-image: url("../img/eco.svg");     
}

.feature-item:nth-child(4)::before {
  background-image: url("../img/thermometer.svg");     
}

.substance {
  font-size: 24px;
  line-height: 30px;
    font-weight: 500; 

    width: 1115px; 
    margin: 0;
    padding-left: 20px;
}  

.blog-subscribe-item {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
  padding: 0;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;  
}

.blog-item,
.subscribe-item {
  width: 560px;
}

.blog-news {
  display: inline-block;
  vertical-align: middle;

  margin: 0;

  position: relative;
  bottom: 203px;
  left: 20px;

  font-weight: 500;
}

.blog { 
  height: 220px;
}

.blog-img {
  border-radius: 15px;
}

.blog a {    
  color: #323232;

  border-bottom: none;

  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  position: relative;
  bottom: 218px;
  left: 20px;
}

.underline {
  position: relative;
  bottom: 299px;
  left: 20px;
}

.subscription {
  background-image: url(../img/bg-post.svg);
  background-repeat: no-repeat;
  background-position: center; 

    min-width: 560px;
    min-height: 215px;

    padding-top: 5px;
    padding-left: 10px;
          
}

.subscription-bg {
  background-color: #f8f7f4;

  margin: 0;  
  padding: 0;
  padding-bottom: 29px;
  padding-top: 29px;
  padding-left: 18px;
  padding-right: 18px;

  max-width: 514px;
  min-height: 151px;  

  border-radius: 10px;  
}

.subscription-note {
  display: inline-block;
  vertical-align: middle; 

  margin: 0;
  margin-bottom: 35px;  
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription-form input {
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  color: #323232;

  line-height: 24px;
  font-weight: 700;

  min-width: 352px;
  margin-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 12px;
}

.subscription-form p {
  padding: 0;
  margin: 0;
}

.subscription-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
  
.subscription-form input::-webkit-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.subscription-form input:-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.subscription-form input::-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.subscription-form input::placeholder {
  color: #999999;

  font-weight: 400;
}

.subscription-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.subscription-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.subscription-form input:focus::-ms-input-placeholder {
  color: transparent;
}

.subscription-form input:focus::placeholder {
  color: transparent;
}

.subscription-form button {
    font-size: 18px;
  line-height: 24px;

  color: #ffffff;

  text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.76);

  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));

  background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;
  border-radius: 30px;

  min-height: 45px;

  margin-right: 20px;
  padding-left: 18px;
  padding-right: 18px;
}

.subscription-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
    background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
    background-blend-mode: lighten;
  }

 .subscription-form button:active {
    background-color: rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
            box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    background-blend-mode: lighten;
 }

 .contact-information {
  background-color: #fefefe;

  width: 304px;
  min-height: 306px;

  margin-top: 63px;
  margin-bottom: 63px;
  margin-right: 25px;

  border-radius: 15px;

  position: relative;
 }

 .contact-information::before {
  content: "";

  width: 80px;
  height: 140px;

  position: absolute;
  top: 85px;
  left: -615px;

  background-image: url(../img/pin.svg);
 }

 .contact::before {
  content: "";

  width: 182px;
  height: 110px;

  position: absolute;
  top: 117px;
  left: -575px;

  background-image: url(../img/shaddow.png);
 }

 .contact {
  font-size: 14px;
  line-height: 20px;

  margin: 0; 
  margin-bottom: 19px;
  padding-top: 28px;
  padding-left: 25px; 

  position: relative;       
 }

 .contact-tel { 
    margin: 0;
    margin-left: 23px; 
    margin-bottom: 25px;   

    font-size: 14px;
  line-height: 20px;
 }

 .contacts-base {
    display: inline-block;
    vertical-align: middle;
    padding-top: 2px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
 }

 .contacts-time {
  line-height: 22px;
 }

 .contact-information .button {
    font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  margin-left: 25px;
  padding-left: 30px;
  padding-right: 30px;

  color: #fefefe;

  text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.76);

  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));

  background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);

  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;
 }

 .contact-information .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
    background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
    background-blend-mode: lighten;
 }

 .contact-information .button:active {
  background-color: rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
            box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    background-blend-mode: lighten;
 } 

 .map {
  width: 100%;
  margin: 0 auto;
 }

 .map-wrapper {
  width: 1200px;
  min-height: 430px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;   
  display: -webkit-box;   
  display: -ms-flexbox;   
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../img/map.jpg);
  background-size: 1200px auto;    
    background-repeat: no-repeat;
 } 

 .footer-social ul {
  list-style: none;
 } 

.footer-social a {
  text-decoration: none;
  color: #323232;
}

.footer-documents ul {
  list-style: none;
}

.footer-documents a {
  color: #ffffff;
}

.footer-documents {
  font-size: 13px;
  line-height: 18px;

  text-align: center;
}

.contractor {
    font-weight: 700; 

    position: relative;   
}

.contractor::before {
  content: "";

  position: absolute;
  left: -22px;
  top: 2px;    
  
    width: 15px;
    height: 13px;  
   
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.main-footer-wrapper {
    min-width: 1146px;
    margin: 0 auto;
    padding-top: 0px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;  
}

.main-footer {
   width: 1146px;
   margin: 0 auto;

   padding-top: 16px; 
}

.inner-page .main-footer {
  margin-top: 30px;
}

.footer-social,
.footer-documents,
.footer-copyright {
  list-style: none;
  margin: 0;  
}

.footer-social {
  width: 187px;
  padding: 0;
  padding-top: 17px;
  margin-right: 213px;
  margin-left: 0px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

  width: 186px;
}

.footer-social li {
  position: relative;
}

.social-button {
  border-bottom: none;

  width: 32px;
  height: 32px; 
}

.social-button svg.icon { 
  border-radius: 40px;

  fill: #e6ebe9;

  position: relative;
}

.border {
  position: absolute;
  top: -3px;
  left: -3px;
}

.social-button .icon:hover {  
  fill: #fff; 
}

.social-button .icon:active { 
  fill: #e9e9e9;  
}

.border:hover {
  fill: #dae2de;
}

.footer-documents {
  width: 330px;
  padding: 0px;
  padding-top: 15px;
  padding-left: 23px; 
  margin-left: 0px; 
  margin-bottom: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  max-height: 36px; 
}

.footer-documents li {
  text-align: left;
}

.footer-copyright {
  width: 190px;
  margin-left:  auto;
}
  

.footer-documents a:hover,
.footer-documents a:active   {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-copyright {
  text-align: right;

  font-size: 12px;
  line-height: 18px;

  color: #fefefe;
}

.htmlacademy-link {
  color: #fefefe;
}

.htmlacademy-link a {
  color: #fefefe;
}

.htmlacademy-link:hover,
.htmlacademy-link:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.logo-html {
    border-bottom: none;

    display: inline-block;
    vertical-align: middle;
    padding-right: 78px;
}

.site-navigation-filter {
  list-style: none;

  background-color: #f8f7f4;
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

  font-size: 14px;
  line-height: 16px;
}

.site-navigation-filter ul {
  list-style: none;
}

.site-navigation-filter a {
  color: #323232;
  border-bottom: none;
}
 
.main-name {
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}  
  
.site-navigation-filter-new-items li:hover {
    background-color: #fbded7;
}

.site-navigation-filter-new-items li:active {
    background-color: #f6b5a5;
}

.site-navigation-current {
  position: relative;
}

li.site-navigation-current,
li.site-navigation-current:hover
{
    background-color: #d07058;

    border-radius: 30px;
    color: #fff;
}   

.site-navigation.site-navigation-current a:hover{
    color: #fff;
}

li.site-navigation-current a:hover {
  color: #fff;
}

li.site-navigation-current a {

border-bottom: none;
color: #fff;
}

li.site-navigation-current:hover a {
  color: #fff;
}

.login-form {
  background-color: #f8f7f4;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}


.login-form input {
  border: 1px solid rgba(178, 178, 178, 0.52);

  color: #323232;

  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
}

.login-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
  
.login-form input::-webkit-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.login-form input:-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.login-form input::-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.login-form input::placeholder {
  color: #999999;

  font-weight: 400;
}

.login-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.login-form input:focus::-ms-input-placeholder {
  color: transparent;
}

.login-form input:focus::placeholder {
  color: transparent;
}

.login-form button {
    font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  color: #fefefe;
  
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
  
  background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  
  background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;
}

.login-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
    background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
    background-blend-mode: lighten;
  }

.login-form button:active {
    background-color: rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
            box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    background-blend-mode: lighten;

    border: none;
}

.login-form p {
  font-size: 13px;
  line-height: 24px;
}

.note a {
    color: #323232;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2); 
}

.note a:hover,
.note a:active {
    color: #e84d37;
    border-bottom: 1px solid rgba(232, 77, 55, 0.2); 
}

.search-form {
  background-color: #f8f7f4;
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
 }

 .search-form input {
  border: 1px solid rgba(178, 178, 178, 0.52);

  color: #323232;

  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
}

.search-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
  
.search-form input::-webkit-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.search-form input:-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.search-form input::-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.search-form input::placeholder {
  color: #999999;

  font-weight: 400;
}

.search-form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.search-form input:focus:-ms-input-placeholder {
  color: transparent;
}

.search-form input:focus::-ms-input-placeholder {
  color: transparent;
}

.search-form input:focus::placeholder {
  color: transparent;
}

.feedback-form {
    position: absolute;
    top: 338px;
    left: 364px;

  background-color: #f8f7f4;

  max-width: 435px;
  height: 390px;

  border-radius: 7px;

  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  display: none;
}

.feedback-form input {
  min-width: 265px;

  border-radius: 5px;

  padding-left: 15px; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.feedback-form textarea {
  min-width: 420px;
  min-height: 154px;

  border-radius: 5px;
    
    padding: 0;
  padding-left: 15px;
  padding-top: 5px;
}

.textarea-feedback {
  display: inline-block;
  vertical-align: middle;
  width: 429px;

  padding: 0;
  margin-bottom: 0;
  margin-top: 3px;
}

.feedback-form .note {
  margin: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  max-width: 370px;
}

.feedback-form-cross {
  position: absolute;
  top: 15px;
  left: 444px;

  width: 18px;
  height: 17px;

  background-image: url(../img/cross-big.svg);
  background-color: transparent;

  cursor: pointer;

  border: none;
}

.feedback-form-message {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid rgba(178, 178, 178, 0.52);

  color: #323232;

  line-height: 24px;
  font-weight: 700;
  font-size: 14px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}
  
.feedback-form input::-webkit-input-placeholder,
.feedback-form textarea::-webkit-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
  color: #999999;

  font-weight: 400;
}
  
.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: #999999;

  font-weight: 400;
}

.feedback-form input:focus::-webkit-input-placeholder,
.feedback-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.feedback-form input:focus:-ms-input-placeholder,
.feedback-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.feedback-form input:focus::-ms-input-placeholder,
.feedback-form textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.feedback-form input:focus::placeholder,
.feedback-form textarea:focus::placeholder {
  color: transparent;
}  

.send {
    font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  

  color: #fefefe;
  
  background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
  
  background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  
  background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
          box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);

  border: none;

   cursor: pointer;

   padding: 10px 25px;
   margin: 0;   

   text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.feedback-submit {
  text-align: right;
}

.send {
  border-radius: 30px;
}

.send:hover {
  background-color: rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(231,74,53)), to(rgb(242,104,67)));
    background-image: -webkit-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -o-linear-gradient( left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
            box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.64);
    background-blend-mode: lighten;
  }

.send:active {
    background-color: rgba(0, 0, 0, 0.07);
    background-image: -webkit-gradient( linear, left top, right top, from(rgb(242,104,67)), to(rgb(231,74,53)));
    background-image: -webkit-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -o-linear-gradient( left, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
            box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
    background-blend-mode: lighten;
}

.breadcrumbs-wrapper {
  width: 1146px;
  margin: 0 auto;
}

.breadcrumbs {
  list-style: none;

  width: 220px;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 100px; 

  display: -webkit-box; 

  display: -ms-flexbox; 

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li::after {
  content: "»";

  position: relative;
  top: 0px;
  right: -6px;

  width: 6px;
  height: 6px;

  color: #fff;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(232, 77, 55, 0.2);
} 

.breadcrumbs-current {
  color: #ffffff;
}

.page-title {
  color: #ffffff;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;

  margin: 0 auto;
    margin-bottom: 27px;
  padding: 0;

  width: 1146px;
}

.filters {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;  
}

.filters-name-sorting {
  padding-left: 14px;
  margin-bottom: 6px;
}

.filters-name-range,
.filters-name-fat {
  padding-left: 23px;
}

.filter-products {
  width: 890px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;  
}

.filter-products legend {
  color: #ffffff;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range-controls {
  
  background-color: #abbcb2;  
  margin-top: 6px;
  margin-left: 8px;

  position: relative;
  padding-top: 16px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 8px;
  margin-bottom: 32px;

  border-radius: 30px;

  width: 178px;
  height: 13px;
}

.range-controls .scale {
  height: 4px;

  background: #d1dad3;
}

.range-controls .bar {
  width: 48%;

  position: absolute;
  left: 20%;

  height: 4px;

  background: #f8f7f4;
}

.range-toggle {
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;  
  cursor: pointer;

  position: absolute;
  top: 8px;
}

.range-toggle-min {
  left: 16%;
}

.range-toggle-max {
  left: 60%;
}

.filter-fat {
  list-style: none;

  padding: 0;
  margin: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  color: #ffffff;
}

.fat-wrapper {
  width: 414px;
  background-color: #abbcb2;
  padding: 0;
  margin: 0;  
  margin-top: 6px;
  margin-left: 10px;  
  min-height: 36px;
  border-radius: 30px;
}

.filter-sorting,
.range,
.filter-filler {
  background-color: #aabab0;
  color: #ffffff;

  line-height: 18px;
  font-weight: 500;

  border-radius: 30px;  
}

.filter-sorting:hover {
  background-color: #9db1a5;
  color: #323232;

  line-height: 18px;
  font-weight: 600;
}

.filter-apply {
  background-color: #a6b7ae;

  border: 1px solid #ffffff;

  color: #ffffff;

  font-weight: 600;

  width: 145px;
  margin-top: 59px;
  margin-left: 10px;
  
  min-height: 36px;

  border-radius: 30px;
}

.filter-apply:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.filter-apply:active {
  background-color: #eaeaea;
  color: #323232;
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
            box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.64);
}

.filter-sorting {
  border: none;

  font-weight: 600;

  width: 211px;
  height: 36px;

  padding-left: 9px;

  background-image: url(../img/select-arrow.png);
  background-position: 168px;
  background-size: 13px;
  background-repeat: no-repeat;     
}

.filter-sorting:hover { 
  background-image: url(../img/select-arrow-black.png);
  
}

.styled-select {
  width: 194px;
  height: 36px;

  overflow: hidden;

  border-radius: 30px;  
}  

.filters fieldset {
  border: none;

  height: 38px;

  padding: 0;
}

.filter-fat {
  list-style: none;

  padding: 0;
  padding-left: 23px;
  margin: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  color: #ffffff;
}

.filter-fat li {
  position: relative;

  padding-top: 8px; 
}

.filter-fat input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.filter-fat-radio + label::before {
  content: "";
    position: absolute;
    top: 6px;
    left: -28px;

    width: 25px;
    height: 25px;

    background-image: url("../img/radio-off.svg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.filter-fat-radio:hover.filter-fat-radio + label::before {
    opacity: 1;
}

.filter-fat-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 13px;
  left: -21px;

  width: 11px;
  height: 11px; 
  
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  border-left: none;
}

.filter-fat-radio:disabled + label::before{
  opacity: 0.5;
}

.filter-fat-radio:disabled:hover + label::before{
  opacity: 0.5;
}

.filter-filler {
  list-style: none;
  padding: 0;
  padding-left: 18px;
  margin: 0;
  margin-top: 8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  
  min-height: 36px;

  width: 683px;

  border-radius: 20px;
}

.filter-filler:hover {
  color: #fff;
  background-color: #aabab0;
}

.filter-filler li {
  padding-top: 8px;

  position: relative;
}

.filters-name-filler {
  padding-left: 15px;
}

.filter-filler-field {
  margin-top: 35px;
}

.filter-filler input {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.filter-filler-checkbox + label::before {
  content: "";
    position: absolute;
    top: 6px;
    left: -28px;

    width: 25px;
    height: 25px;

    background-image: url("../img/checkbox-off.svg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: 0 0;    
}

.filter-filler-checkbox:hover.filter-filler-checkbox + label::before {
    opacity: 1;
}

.filter-filler-checkbox:checked + label::before {
   content: "";

  position: absolute;
  top: 2px;
  left: -30px;

  width: 30px;
  height: 30px; 
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;

  border-left: none;
}

.filter-filler-checkbox:disabled + label::before{
  opacity: 0.5;
}

.filter-filler-checkbox:disabled:hover + label::before{
  opacity: 0.5;
}

.catalog {
  width: 1146px;
  margin: 0 auto;
}

.catalog-list {
  list-style: none;
}

.pagination-list {
  list-style: none;

    width: 135px;
  margin: 0;
  margin-left: 979px;
  margin-top: 48px;
  padding: 0; 

  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;

      position: relative;
}

.pagination-list a {
  color: #ffffff;
  border-bottom: none;
}

.pagination-list li {
  padding: 3px;
  text-align: center;
  width: 26px;
  height: 21px;
}

.pagination-current {
  background-color: #ffffff;  

  text-align: center;

  border-radius: 100px; 
} 

.pagination-current {
  color: #323232;
}

.pagination-list li:hover:not(.pagination-current) {
  background-color: #9db1a5;

  cursor: pointer;

  border-radius: 100px;
}

.pagination-list li:active:not(.pagination-current) {
  background-color: #ffffff;

  color: #323232;
}

.pagination-list li:active:not(.pagination-current) a {
  color: #323232;
}

.pagination-list::before {
   content: "";

  position: absolute;
  top: 0px;
  left: -32px;

  width: 30px;
  height: 30px; 
  
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3; 

  -webkit-transform: rotate(180deg); 

      -ms-transform: rotate(180deg); 

          transform: rotate(180deg);

  border-left: none;
}

.pagination-list::after {
   content: "";

  position: absolute;
  top: -1px;
  left: 127px;

  width: 30px;
  height: 30px; 
  
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;

  cursor: pointer;  

  border-left: none;
}

.full-basket {
  background-color: #f8f7f4;  
    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);  
            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    font-size: 13px;
    line-height: 16px;

    max-width: 508px;

    padding: 19px;

    border-radius: 5px;

    display: none;
}

.full-cart:hover .full-basket {
  display: block;
  position: absolute;
  top: 34px;
  left: -430px;
  width: 508px; 
}

.buy-item {
  margin: 0;
}

table img {
  border-radius: 50px;  
}

.image {
  width: 57px;
  text-align: center;
}

.basket-product-name {
  width: 250px;

  text-align: left;
}

.basket-product-name.white {
  padding-top: 17px;
}

.count {
  width: 156px;
  text-align: center;
}

.basket-price {
  width: 72px;
}

.item-price {
  color: #999999;
}

.full-basket p {
  text-align: right;
}

.total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700; 
}

.buy-item a.button-buy {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.buy-item a.button-buy:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #fff;
}

.buy-item a.button-buy:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
          box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.delete {
  width: 11px;
  height: 11px;

  background-image: url(../img/cross-small.svg);
  background-color: #f8f7f4;
  border: none;
  background-repeat: no-repeat;
}

 .filter-sorting:focus {
    background-color: #ffffff;
    color: #323232;
 }

 .filter-sorting-fall {
  font-size: 14px;
  line-height: 16px;
 }

.dropdown {
  list-style: none;

  background-color: #f8f7f4;

    padding: 0;       
    margin: 0;

    width: 143px;

    border-radius: 5px;

    -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

            box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

    display: none; 

    z-index: 1;   
}

.dropdown li {
  padding: 0; 
}

.dropdown li a{
  padding: 0;

  color: #323232;

  border-bottom: none;
}

.dropdown li:first-child {
  border-bottom: 1px solid #d1d0ce;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;  

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #323232;
}

.dropdown li:last-child {
  padding-bottom: 
}

.dropdown li:not(.dropdown-new) {
  padding-left: 20px; 
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;
}

.dropdown li:hover {
  background-color: #fbded7;

  border-radius: 0;

  -webkit-box-shadow: none;

          box-shadow: none;

  min-width: 123px; 
}

.dropdown li:first-child:hover,
.dropdown li:first-child:active {
  border-radius: 5px 5px 0 0;
}

.dropdown li:active {
  background-color: #f6b5a5;

  border-radius: 0;
}

.dropdown li.current {
  background-color: #d07058;

  border-radius: 5px;

  -webkit-box-shadow: none;

          box-shadow: none;
}

.site-navigation-item {
  max-height: 23px;

  position: relative;
  }

  .site-navigation>li {
    position: relative;
  }

.site-navigation>li:hover .dropdown {
    display: block;

    position: absolute;
    top: 39px;
    left: -8px;    
}

.site-navigation-current:hover .dropdown {
    display: block;

    position: absolute;
    top: 55px; 
    left: -100px;

    z-index: 1;
}

.search-form {
  max-width: 343px;
  background-color: #f8f7f4;

  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 17px;
  padding-left: 17px;

  border-radius: 5px;

  position: absolute;
    top:33px; 
    left: -340px;

  display: none;     
}

.search-loupe {
  position: relative;
}
 
.search-loupe-help {
  position: absolute;
  width: 33px;
  height: 33px;

  top: 0px;
  left: 0px;

  background-image: url(../img/loupe-black.png);
  background-repeat: no-repeat;
  background-position: center;

  display: none;
}

.search:hover .search-loupe-help {  
   display: block;

   position: absolute;
   top: 0px;
   left: 0px;
}

.search-form input {
  border-radius: 5px;

  color: #323232;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  padding: 15px;

  max-height: 45px;
  min-width: 343px; 
}

.search:hover .search-form {
   display: block;

    position: absolute;
    top:33px; 
    left: -340px;
}

.login-form {
  min-width: 279px; 
  background-color: #f8f7f4;

  padding: 20px;

  border-radius: 5px;

  list-style: none;

  position: absolute;
    top: 34px; 
    left: -222px;

  display: none;  
}

.login-form .login-form-into {
  background-color: #f8f7f4;
}

.login-form p {
  margin: 0;  
}

.login-form input {
  margin-bottom: 20px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-height: 45px;
  min-width: 245px;
}

.login-form button {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;

    border-radius: 20px;

    max-height: 45px;
    min-width: 110px;
}

.login-form button:active {
  border: none;
}

.login-submit-note-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-note a {
    color: #323232;

    font-size: 13px;
    line-height: 24px;

    border-bottom: 1px solid #adacaa;
}

.login-submit-note-wrapper p a:hover,
.login-submit-note-wrapper p a:active {
  color: #e84d37;

  border-bottom: 1px solid #f9cdc4;
}

.login:hover .login-form {
   display: block;

    position: absolute;
    top: 34px; 
    left: -222px;

    z-index: 1;
}





  


















